<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='style/readmail.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='style/fontawesome-free-5.12.0-web/css/all.min.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <title>Почточка</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="my_header">
        <div class="brand">
          <a href="{{url_for('pop3.index')}}" class="link"><i class="fas fa-envelope-open-text text-logo"></i>Почточка</a>
        </div>
        <div class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="{{url_for('pop3.index')}}" class="navbar-link link">POP3</a>
            </li>
            <li class="navbar-item">
              <a href="{{url_for('imap.index')}}" class="navbar-link link">IMAP</a>
            </li>
          </ul>
        </div>
      </header>

      <div class="content">
        {% if errors%}
          <div class="errors">
            {%for error in errors%}
              <div class="error">{{error}}</div>
            {%endfor%}
          </div>
        {%endif%}
        <div class="mail">
          <div class="topic">
            <h2>
              {%if message['Subject']%}
                {{message['Subject']}}
              {%else%}
                (без темы)
              {%endif%}
            </h2>
          </div>
          <div class="from">
            <span>Отправитель: </span>
            {{message['From']}}
          </div>

          <div class="to">
            <span>Получатель: </span>
            {{message['To']}}
          </div>
          <br>

          {%if message['Attachments']%}
            <div class="attachments">
              {%for attach in message['Attachments']%}
                <a href="{{url_for('pop3.download', uid=message['id'], filename=attach)}}" class="attachment">
                  {{attach}}
                </a>
              {%endfor%}
            </div>
          {%endif%}

          <br>

          <div class="msg">
            {{message['Content']|safe|urlize(40)}}
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="footer-content">
          <div class="signs">
            <a href="/logout/">
              <p class="sign-item sign-head"><i class="fas fa-door-open text-logo"></i></p>
              <p class="sign-item">выход</p>
            </a>
          </div>

          <div class="social">
            <ul>
              <li class="social-item">
                <a href="https://vk.com/muffin3" class="social-link">
                  <i class="fab fa-vk"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://github.com/Muffin3" class="social-link">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://t.me/Muffin3" class="social-link">
                  <i class="fab fa-telegram-plane"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src={{url_for('static', filename='javascript/jquery-3.3.1.min.js')}}></script>
    <script type="text/javascript" src={{url_for('static', filename='javascript/script.js')}}></script>
  </body>
</html>
