@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue.ttf);
}

html, body{
  font-family: Bebas;
  font-size: 16px;
  color: white;
  height: 100%;
  margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.my_header{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.link{
  text-decoration: none;
  color: white;
}

.brand{
  font-size: 25px;
}

.text-logo{
  color: #ff7878;
  padding-right: 3px;
}

.navbar, .navbar-list{
  display: flex;
  height: 12vh;
}

.navbar-list{
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item, .navbar-link{
  width: 125px;
  height: 12vh;
}

.navbar-link{
  display: inline-block;
  text-align: center;
  line-height: 12vh;
}

.navbar-link:hover{
  background-color: #ff7878;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  margin-top: 13vh;
  margin-bottom: 1vh;
}

.mail{
  height: 74vh;
  overflow-x: hidden;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #343a40;
}

.mail::-webkit-scrollbar{
  width: 8px;
  background-color: #F0F0F0;
}

.mail::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgba(255, 120, 120, 0.5);
}

.from > span, .to > span{
  font-weight: bold;
}

.attachments{
  display: flex;
  flex-direction: row;
}

.attachment{
  height: 25px;
  width: 75px;
  line-height: 25px;
  padding: 5px;
  border: 1px solid #ff7878;
  border-radius: 25px;
  color: #343a40;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attachment:hover{
    border: 1px solid #343a40;
    background-color: #ff7878;
}

.footer {
	flex: 0 0 auto;
  width: 100%;
  height: 75px;
  background-color: #343a40;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
}

.signs{
  display: flex;
  align-items: center;
  height: 75px;
}

.signs a{
  text-align: center;
  text-decoration: none;
  color: white;
}

.sign-head{
  font-size: 20px;
  color: #ff7878;
}

.sign-item{
  margin: 0;
}

.social > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item{
  width: 45px;
  line-height: 75px;
}

.social-link{
  font-size: 25px;
  color: white;
  transition: 0.5s;
}

.social-link:hover{
  color: #ff7878;
}
