<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{ url_for('static', filename='auth.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.min.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} type="image/x-icon">
    <title>Почточка</title>
  </head>
  <body>
    <div class="content">
        {% if form.mailbox.errors or errors%}
          <div class="errors">
            {%for error in form.mailbox.errors%}
              <div class="error">{{error}}</div>
            {%endfor%}
            {%for error in errors%}
              <div class="error">{{error}}</div>
            {%endfor%}
          </div>
        {%endif%}
      <div class="auth-block">
        <form class="auth-form" action="/auth/" method="post">
          <p class="auth-label">Авторизация</p>
          <div class="field-group">
            <div class="field-icon">
              <i class="fas fa-user"></i>
            </div>
            {{form.mailbox}}
          </div>
          <div class="field-group">
            <div class="field-icon">
              <i class="fas fa-key"></i>
            </div>
            {{form.password}}
          </div>
          {{form.submit}}
          {{form.csrf_token}}
        </form>
      </div>
    </div>
  </body>
</html>
